/* css for text styling and container attributes that contain game */
html, body {
  height: 100%;
  margin: 0;
}

body {
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#introduction {
  width: 200px;
  height: 150px;
  position: absolute;
  font-weight: 600;
  font-size: 0.8em;
  text-align: center;
  transition: opacity 2s;
}
